export(smooth.test)
export(EDF.test)
export(PPplot)
export(QQplot)
export(ksboot.test)
export(Boxplot)
export(wmw.diagnose)
export(diagnose)
export(components)
export(test.stat)

S3method(PPplot, default)
S3method(PPplot, formula)
S3method(PPplot, list)
S3method(diagnose, numeric)
S3method(diagnose, formula)
S3method(components, cdk)

